# AI Studio Environment Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_GEMINI_API_KEY=
GEMINI_API_KEY=
DEEPGRAM_API_KEY=
DEEPGRAM_AGENT_ID=fd7da684-2c9c-433d-ab0c-1ed2f8b061e4
DEEPGRAM_PROJECT_ID=1add87dc-1582-4d89-9a7d-d2cee44bf542
